@page
@model Portfolio2022.Pages.Portfolio

<div class="half-banner background-space">
    <div class="banner-contents text-center">
        <h1 class="text-xlg">My Portfolio</h1>
        <p>Explore my collection of Professional & Personal projects</p>
    </div>
</div>